name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "30 14,5 * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master 
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          API_BASE_URL: https://wakatime.com/api
          REPOSITORY: prabhakarvenkat/prabhakarvenkat
          SHOW_TITLE: true
          SECTION_NAME: waka
          TIME_RANGE: last_7_days
          LANG_COUNT: 10
          SHOW_TIME: true
          SHOW_TOTAL: true
          STOP_AT_OTHER: false
          IGNORED_LANGUAGES: YAML JSON TOML Markdown Dockerfile Shell Makefile Config TS Config GitConfig GITIGNORE 
          ### commit
          COMMIT_MESSAGE: Updated waka-readme graph with new metrics
          TARGET_BRANCH: master
          TARGET_PATH: README.md
          COMMITTER_NAME: GitHubActionBot
          COMMITTER_EMAIL: action-bot@github.com
          AUTHOR_NAME: PRABHAKAR V
          AUTHOR_EMAIL: prabhakar15v@gmail.com
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
